{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container my-5">
    <h1>Об игре:</h1>
    <h5><br>Space Fighter - новая аркада про путешествия по вселенной. Вам предстоит изучать изучать космическое пространство,</h5>
    <h5>сражаясь с враждебными рассами и космическими пиратами.</h5>
    <h5><br>В игре вы управляете космическим кораблем и преодолеваете тяжелые уровни с кучами врагов. Для победы над ним</h5>
    <h5>корабль оснащён лазерными пушками, которые нужно уметь правильно применять, но также можно просто затаранить</h5>
    <h5>вражеские корабли, но будьте осторожны, прочность вашего звездолёта не бесконечна. Игра изрядно улучшит вашу</h5>
    <h5>реакцию за счет того, что в ней необходимо очень быстро принимать решения анализируя текущее положение.</h5>
    <h5>Space Fighter потрепала немало нервов игрокам, но именно за это ее и любят. Чем труднее, тем больше радость от победы!</h5>
    <style>.my-image { margin: 20px; }</style>
    <img src="static/images/3.png" alt="здесь должна была быть картинка, но не нашлась" width="1100" class="my-image">
    <div class="rectangle-divider" bac></div>
    <h1>Геймплей:</h1>
    <h5><br>В игре вы управляете кораблем на кнопки W A S D - вверх влево вниз вправо соответственно. Корабль также может</h5>
    <h5>совершать выстрелы на ЛКМ(левую кнопку мыши), количество боеприпасов не ограничено. Несмотря на то, что вы можете</h5>
    <h5>двигаться вправо делать этого не рекомендуется, поскольку повышается шанс налёта на пули врага, хотя в редких случаях</h5>
    <h5>удобно затаранить противника, или залететь за спину для передышки, но помните, что при таране хп врага убывают с той</h5>
    <h5>скоростью, что и ваши, а при залёте в тыл, вы не сможете развернуться, чтобы убить пришельца.</h5>
    <h5><br>Чтобы выйти в меню паузы нажмите кнопку esc(escape), откуда можно также выйти в меню, но прогресс на уровне сбросится.</h5>
    <h5>Изначально открыт только первый уровень. Чтобы получить доступ к следующим уровням компании, нужно пройти предыдущий.</h5>
    <h5>На данный момент в игре 5 уровней.</h5>
    <img src="static/images/4.png" alt="здесь должна была быть картинка, но не нашлась" width="1100" class="my-image">
    <div class="rectangle-divider" bac></div>
    <h1>Бос:</h1>
    <h5><br>В игре также есть бос, котоорый встречается на 5-м уровне. Бос обладает 4-мя стадиями, и является достаточно слож-</h5>
    <h5>ным относительно прочих уровней. Чтобы его одолеть, придётся потратить много времени и сил, однако победа над ним</h5>
    <h5>станет достойным достижением.</h5>
    <img src="static/images/5.png" alt="здесь должна была быть картинка, но не нашлась" width="1100" class="my-image">
    <div class="rectangle-divider" bac></div>
    <h1>Будующие обновления:</h1>
    <h5><br>• Планеты, с разными усложняющими факторами</h5>
    <h5>• Продление основной комании</h5>
    <h5>• Новые боссы и мини боссы</h5>
    <h5>• Новые типы врагов</h5>
    <h5>• Cкины на корабль</h5>
    <h5>• Новый сложный режим - "Выживание"</h5>
    <img src="static/images/1.png" alt="здесь должна была быть картинка, но не нашлась" width="1100" class="my-image">
    <div class="rectangle-divider" bac></div>
    <h1>Скачать игру:</h1>
    <br><a href="static/game/SpaceFighter.zip" download="SpaceFighter" style="display: inline-block;
    padding: 10px 300px;
    background-color: #4CAF50;
    color: white;text-decoration: none;
    border-radius: 4px;
    font-size: 16px;">
    Скачать SpaceFighter.ZIP
</a>
</div>
{% endblock %}

{% block str_on %}
<li>
    <a href="/" class="nav-link px-2 text-secondary">
        Home
    </a>
</li>
<li>
    <a href="/characters" class="nav-link px-2 text-white">
        Characters
    </a>
</li>
<li>
    <a href="/coments" class="nav-link px-2 text-white">
        Coments
    </a>
</li>
{% endblock %}